asgiref==3.11.1 ; python_version >= "3.12"
asttokens==3.0.1 ; python_version >= "3.12"
certifi==2026.1.4 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and sys_platform == "win32"
decorator==5.2.1 ; python_version >= "3.12"
django-redis==6.0.0 ; python_version >= "3.12"
django==6.0.2 ; python_version >= "3.12"
executing==2.2.1 ; python_version >= "3.12"
gunicorn==25.3.0 ; python_version >= "3.12"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.12"
ipython==9.10.0 ; python_version >= "3.12"
jedi==0.19.2 ; python_version >= "3.12"
matplotlib-inline==0.2.1 ; python_version >= "3.12"
packaging==26.0 ; python_version >= "3.12"
parso==0.8.6 ; python_version >= "3.12"
pexpect==4.9.0 ; python_version >= "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==12.1.1 ; python_version >= "3.12"
prompt-toolkit==3.0.52 ; python_version >= "3.12"
psycopg2-binary==2.9.11 ; python_version >= "3.12"
ptyprocess==0.7.0 ; python_version >= "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.12"
pygments==2.19.2 ; python_version >= "3.12"
python-dotenv==1.2.1 ; python_version >= "3.12"
redis==7.2.0 ; python_version >= "3.12"
sqlparse==0.5.5 ; python_version >= "3.12"
stack-data==0.6.3 ; python_version >= "3.12"
traitlets==5.14.3 ; python_version >= "3.12"
tzdata==2025.3 ; python_version >= "3.12" and sys_platform == "win32"
wcwidth==0.6.0 ; python_version >= "3.12"
