<div class="container">
    <div class="row g-2">
        <!-- Колонка 1: О компании -->
        <div class="col-md-3">
            <h6 class="text-white mb-1">{% block footer_company_title %}Компания{% endblock %}</h6>
            {% block footer_company_links %}
            <ul class="list-unstyled small">
                <li class="mb-1"><a href="#" class="text-white-50 text-decoration-none">О нас</a></li>
            </ul>
            {% endblock %}
        </div>

        <!-- Колонка 2: Услуги -->
        <div class="col-md-3">

        </div>

        <!-- Колонка 3: Поддержка -->
        <div class="col-md-3">

        </div>

        <!-- Колонка 4: Контакты -->
        <div class="col-md-3">
            <h6 class="text-white mb-1">{% block footer_contacts_title %}Контакты{% endblock %}</h6>
            {% block footer_contacts %}
            <ul class="list-unstyled small text-white-50">
                <li class="mb-1">aleksey.s.lozhkin@gmail.com</li>
            </ul>
            {% endblock %}
        </div>
    </div>

    <!-- Нижняя часть футера с копирайтом -->
    <div class="text-center pt-1 mt-1 border-top border-secondary">
        {% block copyright %}
        <p class="small mb-0">© 2025 BriefPost. Все права защищены.</p>
        {% endblock %}
    </div>
</div>

<!-- Дополнительный контент футера -->
{% block extra_footer %}{% endblock %}